<section class="price">
	<div class="container price__container">
		<div class="price__content">
			<h2 class="price__title title">one simple <span>pricing.</span></h2>
			<ul class="price__list">
				<li class="price__item price__item--pink">Unlimited features</li>
				<li class="price__item price__item--yellow">Unlimited members</li>
				<li class="price__item price__item--green">Unlimited workflows</li>
				<li class="price__item price__item--turquoise">Unlimited calendars</li>
				<li class="price__item price__item--violet">Unlimited meeting</li>
			</ul>
			<button class="price__button button">Sign up</button>
		</div>
		<div class="price__block">
			<div class="price__wrapper">
				<h3 class="price__cost">49€</h3>
				<span class="price__descr">/ client / month</span>
			</div>
		</div>
	</div>
</section>