<section class="tabs">
	<div class="container tabs__container">
		<ul class="tabs__list">
			<li class="tabs__item">
				<button class="tabs__item-button" data-tab="#tab-1">create</button>
			</li>
			<li class="tabs__item">
				<button class="tabs__item-button" data-tab="#tab-2">manage</button>
			</li>
			<li class="tabs__item">
				<button class="tabs__item-button" data-tab="#tab-3">automate</button>
			</li>
			<li class="tabs__item">
				<button class="tabs__item-button" data-tab="#tab-4">chat</button>
			</li>
			<li class="tabs__item">
				<button class="tabs__item-button" data-tab="#tab-5">delegate</button>
			</li>
		</ul>
		<div class="tabs__bottom">
			<div class="tabs__bottom-item tabs-item" id="tab-1">
				<div class="tabs-item__content">
					<h2 class="tabs-item__title title">all your creative tasks <span>simplified with AI.</span></h2>
					<p class="tabs-item__text text">Get content ideas, generate captions that respects brand’s tone of voice, design and
						plan
						your publications all in one place</p>
					<div class="tabs-item__replaces replaces">
						<h4 class="replaces__title">Replaces</h4>
						<ul class="replaces__list">
							<li class="replaces__item">Feedly</li>
							<li class="replaces__item">Canva</li>
							<li class="replaces__item">Copy.ai</li>
							<li class="replaces__item">Hootsuite</li>
						</ul>
					</div>
					<button class="tabs-item__button button">Sign up</button>
				</div>
				<div class="tabs-item__image">
					<img src="@images/tabs-1.png" alt="Tab 1">
				</div>
			</div>
			<div class="tabs__bottom-item tabs-item" id="tab-2">
				<div class="tabs-item__content">
					<h2 class="tabs-item__title title">transparency over all the <span>work ahead of you.</span></h2>
					<p class="tabs-item__text text">Plan, track, and manage all your work with project management that flexes to your team's
						needs.</p>
					<div class="tabs-item__replaces replaces">
						<h4 class="replaces__title">Replaces</h4>
						<ul class="replaces__list">
							<li class="replaces__item">Asana</li>
							<li class="replaces__item">Monday</li>
						</ul>
					</div>
					<button class="tabs-item__button button">Sign up</button>
				</div>
				<div class="tabs-item__image">
					<img src="@images/tabs-2.png" alt="Tab 2">
				</div>
			</div>
			<div class="tabs__bottom-item tabs-item" id="tab-3">
				<div class="tabs-item__content">
					<h2 class="tabs-item__title title">your entire workflow <span>on autopilot.</span></h2>
					<p class="tabs-item__text text">Eliminate the busywork and focus on what matters with hundreds of Automations.
						Automatically assign tasks, post comments, update statuses, and sync with other tools.</p>
					<div class="tabs-item__replaces replaces">
						<h4 class="replaces__title">Replaces</h4>
						<ul class="replaces__list">
							<li class="replaces__item">UiPath</li>
							<li class="replaces__item">Zapier</li>
							<li class="replaces__item">Airtable</li>
						</ul>
					</div>
					<button class="tabs-item__button button">Sign up</button>
				</div>
				<div class="tabs-item__image">
					<img src="@images/tabs-3.png" alt="Tab 3">
				</div>
			</div>
			<div class="tabs__bottom-item tabs-item" id="tab-4">
				<div class="tabs-item__content">
					<h2 class="tabs-item__title title">one single chat <span>to rule them all.</span></h2>
					<p class="tabs-item__text text">Work smarter as a team with real-time chat. All your client-facing conversations are
						automatically bridged to Whatsapp</p>
					<div class="tabs-item__replaces replaces">
						<h4 class="replaces__title">Replaces</h4>
						<ul class="replaces__list">
							<li class="replaces__item">Slack</li>
							<li class="replaces__item">MS Teams</li>
							<li class="replaces__item">Whatsapp</li>
						</ul>
					</div>
					<button class="tabs-item__button button">Sign up</button>
				</div>
				<div class="tabs-item__image">
					<img src="@images/tabs-4.png" alt="Tab 4">
				</div>
			</div>
			<div class="tabs__bottom-item tabs-item" id="tab-5">
				<div class="tabs-item__content">
					<h2 class="tabs-item__title title">find the right teammates to <span>get things done.</span></h2>
					<p class="tabs-item__text text">Access the largest network of marketing professional to delegate your tasks and
						automatically orchestrate payment across teams and clients</p>
					<div class="tabs-item__replaces replaces">
						<h4 class="replaces__title">Replaces</h4>
						<ul class="replaces__list">
							<li class="replaces__item">Upwork</li>
							<li class="replaces__item">Malt</li>
							<li class="replaces__item">Fiverr</li>
						</ul>
					</div>
					<button class="tabs-item__button button">Sign up</button>
				</div>
				<div class="tabs-item__image">
					<img src="@images/tabs-5.png" alt="Tab 5">
				</div>
			</div>
		</div>
	</div>
</section>